# AI :
branch of cs concerned with building smart & intelligent machines. eg : tesla cars , google assistant .
# ML :
learn all abt data. eg: recognize if it is cat or dog.
# DL :
> uses artificial neural networks  to learn from data.
> Neural network has 3 main layers :
1. Input layer
2. Hidden Layer (can have multiple hidden layers based on tasks)
3. Output Layer

> Feature Extraction : DL determines features on its own whereas for ML we need to manually inform the features.

# Types of ML :
# 1. Supervised Learning -
> has labelled data. Machine knows what it is apple or mango.

a. Classification : It is abt predicting a class of discrete values. eg: Male or Female , True or False

> Algorithms used :
1. Descision Tree
2. Random FOrest Classification
3. K-nearest Neighbor 

b. Regression : It is abt predicting a quantity or continuous values. eg : Salary,age,price.

> ALgorithms used :
1. Logistic Regression
2. Polynomial Regression
3. Support Vector MAchines

# 2. Unsupervised Learning -
> has unlabelled data. Grps the clustrer of images based on features.

a. Clustering : Grping similar data points.

b. Association : Suggesting data.

> Algorithms for unsupervised :
1. K-Means Clustering
2. Hierarchial Clustering
3. Principal Component Analysis(PCA) - used for reducing dimension of data.
4. Apriori
5. Eclat

# 3. Reinforcement Learning -
> how intelligent agents take actions in an environment to maximize rewards.
> aspects of RL :
a. Environment
b. Agent
c. Action
d. Reward

In [1]:
print ("ML" + " DL")
print(8+3)

ML DL
11

> Basic data types:
1. int
2. float
3. str
4. complex
5. boolean

In [2]:
type(8)

int

In [3]:
type(5.3)

float

In [4]:
type("hello")

str

> constants : values cannot be changes

> Variables : whose values can be changed. container in which we store values.Variables should have a continuous name or should be connected with underscores.

In [5]:
super_hero = "Iron Man"
print(super_hero)
# super_hero is container and Iron man is value of variable

Iron Man

In [6]:
super_hero = "Captain AMerica"
print("super_hero")

super_hero

In [7]:
# values for multiple variables in a single line of codes
hero1,hero2,hero3 = "Iron Man", "Captain","Waspp"
print(hero1)
print(hero2)
print(hero3)

Iron Man
Captain
Waspp

In [8]:
# give multiple variables the same data
x=y=z =23
print(x)
print(y)
print(z)

23
23
23

> Input function

In [9]:
#changing the data type in python
n = 5
print(float(n))

5.0

In [10]:
#complex munber
c=1+3j
print(c)
type(c)

(1+3j)

complex

In [11]:
# conversion of data type
# float to int
x=5.67
print(int(x))
type (x)

5

float

In [12]:
# Boolean : True and False
a=True
print(a)
type(a)

True

bool

In [13]:
a=4 < 1
print(a)
type(a)

False

bool

In [14]:
#STring
print("Hello"* 5)

HelloHelloHelloHelloHello

> String Slicing

In [15]:
str="Programming"
print(str[1:5]) # values for index 1 to 5-1 will be sliced

rogr

In [16]:
# step
print(str[0:10:2]) #every 2nd letter will be removed

Pormi

String concatenation

In [17]:
w1="Machine"
w2=" Learning"
print(w1+w2)

Machine Learning

> Types of Objects:

1. Muttable -

List

Set

Dictionary

2. Immutable -

int

float

tuple

bool

string

In [18]:
# List should be included in square brackets
list=[1,2,3,4,5]
print(list)
type(list)

[1, 2, 3, 4, 5]

list

In [19]:
#lists can have multiple data types.
list=[2,3,1.3,'English',True]
print(list)

[2, 3, 1.3, 'English', True]

In [20]:
#Lists are mutable or changeable
list=[2,3,1.3,'English',True]
list.append(4)
print(list)

[2, 3, 1.3, 'English', True, 4]

In [21]:
#print elements of list using itheir index
print(list[0])
print(list[2])

2
1.3

In [22]:
#Lists allow duplicate values
l1=[1,2,3,43,21,3]
print(l1)

[1, 2, 3, 43, 21, 3]

In [23]:
print(len(l1))

6

In [24]:
#initiating an empty list
l2=[]
print(l2)

[]

In [25]:
l2.append(5)
print(l2)

[5]

In [26]:
#delete item in list
l2=[2, 3, 1.3, 'English', True, 4]
print(l2)
del l2[3]
print(l2)

[2, 3, 1.3, 'English', True, 4]
[2, 3, 1.3, True, 4]

In [27]:
#join two lists
l3=[2,3,6,4]
l4=[9,2,5,6,1]
l5= l3 + l4
print(l5)

[2, 3, 6, 4, 9, 2, 5, 6, 1]

# Tuple : immutable

In [28]:
t1 = (3,4,5)
print(t1)
type(t1)

(3, 4, 5)

tuple

In [29]:
#tuple allows multiple data types
t2=(1,3.4,'Hi',False,94.5)
print(t2)

(1, 3.4, 'Hi', False, 94.5)

In [30]:
# converting a list to tuple
l =[3,4,2,5]
print(l)

t=tuple(l)
print(t)

[3, 4, 2, 5]
(3, 4, 2, 5)

In [31]:
print(t[0])
print(t[3])

3
5

In [32]:
t.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [33]:
print(len(t))

4

# Set : mutable

In [34]:
# set ---> Curly brackets
s1 = {3,5,1,7,4,8}
print(s1)
type(s1)

{1, 3, 4, 5, 7, 8}

set

In [35]:
print(s1[0])

TypeError: 'set' object is not subscriptable

In [36]:
#convert list to set
l5=[4,5,2,5,6]

x=set(l5)
print(x)

{2, 4, 5, 6}

In [37]:
# set does not allow duplicate values
s2={1,2,5,3,7,4,1,7}
print(s2)

{1, 2, 3, 4, 5, 7}

# Dictionary : has key-value pair

In [38]:
d1={"name":"David","age":30,"county": "India"}
print(d1)
type(d1)

{'name': 'David', 'age': 30, 'county': 'India'}

dict

In [39]:
print(d1["name"])
print(d1["age"])

David
30

In [40]:
# dictionary has no duplicate values
d3={"name":"David","age":30,"county": "India","name":"David","age":30,"county": "India"}
print(d3)

{'name': 'David', 'age': 30, 'county': 'India'}

# Operators in Python:
1. Arithmetic
2. Assignment
3. Comparison
4. Logical
5. Identity
6. Membership

In [41]:
# Arithmetic operators
num1=20
num2=43

#addition
sum = num1 + num2
print(sum)

#substraction

sub=num2-num1
print(sub)

#multiplication

mult=num1*num2
print(mult)

#division

div=num2/num1
print("Division :",div)

#exponent

exp =num1**num2
print("Exponent: ",exp)

#modulus

mod =num2%num1
print("Remainder : ",mod)

63
23
860
Division : 2.15
Exponent:  87960930222080000000000000000000000000000000000000000000
Remainder :  3

In [42]:
#Assignment Operator

a=5
a += 4 # a=a+4
print("Add : ",a)

b=9
b=b-4 #b=b-4
print("Sub : ",b)

b=b*7
print("mult:",b)

b=b/4
print("Div:",b)

b=a**3
print("Exponent:",b)

b=a%6
print("Remainder:",b)

Add :  9
Sub :  5
mult: 35
Div: 8.75
Exponent: 729
Remainder: 3

In [43]:
#Comparison Operator

a = 4
b = 7
print(a==b) # equal to
print(a!=b) #not equal to
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)

False
True
False
True
True
False

In [44]:
#Logical Operator : and , or , not
a=23
print(a>41 and a>21)
print( a>41 or a>21)
print(not(a>41 and a>21))

False
True
True

In [45]:
# Identity Operator : is , is not
x=5
y=2
print (x is y)
print(x is not y)

False
True

In [46]:
#Membership Operator : not in , in

a=6
b=2
c=[1,2,4,5,9]
print(a in c)
print(b in c)
print(a not in c)
print(b not in c)

False
True
True
False

# If else statement :

In [47]:
a=32
b=11
if(a>b):
    print("a is greater num.")
else:
    print("b is greater num.")

a is greater num.

# if elif else statement

In [48]:
a=12
b=22
c=4

if(b>a>c):
    print("a is greatest.")
elif(a>b>c):
    print("b is gratest.")
else:
    print("c is greatest.")

a is greatest.

# Nested if statement

In [49]:
a=20
b=30
c=40
if(a>b):
    if (a>c):
        print("a  is greatest")
    else:
        print("c is greatest") 
else:
    if(b>c):
       print("b is greatest")
    else:
        print("c is greatest")

c is greatest

# For loop

In [51]:
laptop1 = 20000
print("Price of laptop is: ",laptop1)
laptop2 = 60000
print("Price of laptop is: ",laptop2)
laptop3 = 30000
print("Price of laptop is: ",laptop3)
laptop4 = 20000
print("Price of laptop is: ",laptop4)
for i in range(4):
    laptop_price=int(input("Enter the price of laptop :"))

Price of laptop is:  20000
Price of laptop is:  60000
Price of laptop is:  30000
Price of laptop is:  20000

In [1]:
num=[233,42,45,21,76]
for i in num:
    print(i)

233
42
45
21
76

# WHile loop

In [1]:
i=2
while i<20:
    print(i)
    i+=2

2
4
6
8
10
12
14
16
18

In [2]:
i=2
while i>20:
    print(i)
    i+=2

# Functions

In [ ]:
#Factorial of a number
num=int(input("ENter the number: "))
factorial=1
if num==0:
    print("Factorial of 0 is 1")
else:
    for i in range(1,num+1): #range(1,6) ++++ include 1 and exclude 6
        factorial=factorial+1 
    print("Factorial of :",num, "is",factorial)

# Factorial function

In [4]:
def factorial_value(num):

factorial=1

if n == 0:
    return factorial

else:
    for i in range(1,n+1): #range(1,6) ++++ include 1 and exclude 6
        factorial=factorial+1 
    print("Factorial of :",n, "is",factorial)

IndentationError: expected an indented block after function definition on line 1 (1888708496.py, line 3)

In [3]:
print(factorial_value(5))

None